<!doctype html>
<html>
  <head>
    <title>About <%= shopName %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>About <%= shopName %> Shop</h1>
    <p>We sell all sorts of drinks at multiple locations!</p>

    <h2>Our Shops</h2>
    <ul>
      <% for (let i = 0; i < shops.length; i++) { %>
        <li>
          <strong><%= shops[i].name %></strong><br>
          Manager: <%= shops[i].manager %><br>
          Address: <%= shops[i].address %>
        </li>
        <br>
      <% } %>
    </ul>
  </body>
</html>
